@import url("https://use.typekit.net/wtm3yeh.css");

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: interstate, sans-serif;
}

.hero {
    background: linear-gradient(45deg, #A2999E 0%, #3E505B 100%);
    font-weight: 700;
}

.search-info {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
    color: white;
    font-size: 70px;
}

.button {
    border-radius: 18px;
    background: linear-gradient(45deg, #A2999E 0%, #3E505B 100%);
    color: white;
    font-weight: 500;
}

.city-select {
    font-size: 25px;
    text-align: right;
}

.weather-active,.weather-5day, .button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.weather-active {
    font-size: 28px;
}

.five-day-text {
    font-size: 25px;
}

.weather-5day {
    margin-left: 2px;
}

button:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
    margin-bottom: .4em;
}

.description {
    text-transform: capitalize;
}

.recently-visited {
    font-size: 30px;
    font-weight: 700;
}


/* Change text alignment to ensure best formatting on smaller screens */
@media screen and (max-width: 768px) {
    .title {
        font-size: 50px;
    }

    .city-select {
        text-align: center;
    }

    .weather-5day {
        margin-left: none;
    }
    
}
