@import url("https://use.typekit.net/wtm3yeh.css");

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: interstate, sans-serif;
    background-color: #A2999E6b;
    height: 100vh;
}

.hero {
    background: linear-gradient(45deg, #A2999E 0%, #3E505B 100%);
    font-weight: 700;
}

.search-info {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: transparent;
}

.title {
    color: white;
    font-size: 70px;
}

.button {
    border-radius: 18px;
    background: linear-gradient(45deg, #A2999E 0%, #3E505B 100%);
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
}

.column {
    color: black;
    font-weight: 500;
}

.city-select {
    font-size: 25px;
    text-align: right;
}

.weather-active,.weather-fiveday, .button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.weather-active {
    font-size: 28px;
    background-color: #A2999E0b;
}

.five-day-text {
    font-size: 25px;
    font-weight: 700;
}

.weather-fiveday {
    margin-left: 2px;
    background-color: #A2999E0b;
}

button:hover {
    background: #7c7c7c6b;
    font-weight: 700;
}

h1.temp {
    margin: 0;
    margin-bottom: .4em;
}

.description {
    text-transform: capitalize;
}

.recent-searches-text {
    font-size: 30px;
    font-weight: 700;
}

.card {
    align-items: center;
    background-color: #7c7c7c1b;
}

.search-bar {
    color: black;
    font-weight: 700;
    background-color:ghostwhite;
}


/* Change text alignment to ensure best formatting on smaller screens */
@media screen and (max-width: 768px) {

    body {
        background-color: #A2999E0b;
    }

    .title {
        font-size: 50px;
    }

    .city-select {
        text-align: center;
    }

    .weather-fiveday {
        margin-left: none;
    }
    
    .card {
        background-color: transparent;
    }
}

@media screen and (max-width: 1185px) {
    #clear-recent {
        float:right;
    }
}


